<div class="row" @animationPage>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-body">
          <p-fieldset legend="Plafon Anggaran (BOSNAS)" [toggleable]="true">
            <p-fieldset legend="Filter" [toggleable]="true" *ngIf="userInfo.IsAdmin">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form class="form-horizontal" [formGroup]="formFilter">
                    <div class="box-body">
                      <div class="form-group">
                        <label class="col-sm-1 control-label">Sekolah</label>
                        <div class="col-sm-11">
                          <p-dropdown [options]="optSekolah"
                                      [filter]="true"
                                      required
                                      formControlName="sekolah"
                                      (onChange)="onChangeUnit()"
                                      [style]="{'width':'100%'}">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </p-fieldset>
            <p-fieldset legend="Total Anggaran BOSNAS : {{legendTotal | currencyRupiah}}" [toggleable]="true">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <table class="table">
                    <tr>
                      <td colspan="3"><label>Perhitungan Pagu Anggaran Kegiatan BOSNAS Tahun Berjalan</label></td>
                    </tr>
                    <tr>
                      <td>Jumlah Siswa</td>
                      <td>:</td>
                      <td style="text-align: right"><span *ngIf="bosnasBudgetDesc">{{bosnasBudgetDesc.totalStudent}}</span></td>
                    </tr>
                    <tr>
                      <td>Standar Harga</td>
                      <td>:</td>
                      <td style="text-align: right"><span *ngIf="bosnasBudgetDesc">{{bosnasBudgetDesc.standardPrice | currencyRupiah}}</span></td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>:</td>
                      <td style="text-align: right"><span *ngIf="bosnasBudgetDesc">{{bosnasBudgetDesc.total | currencyRupiah}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="3"><label>Sisa Anggaran Tahun Lalu</label></td>
                    </tr>
                    <tr>
                      <td>Saldo Awal</td>
                      <td>:</td>
                      <td style="text-align: right"><span *ngIf="lastYearBalance">{{lastYearBalance.value | currencyRupiah}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <p-button type="button" [disabled]="userInfo.isLocked === 'True'" icon="fa fa-fw fa-edit" label="Edit" styleClass="ui-button-warning" (onClick)="showEdit()"></p-button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </p-fieldset>
          </p-fieldset>
        </div>
      </div>
    </div>
  </div>
<app-edit-saldo-awal></app-edit-saldo-awal>
