<div class="row">
  <div class="col-md-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <p-dataTable [value]="listBosdaBudgetDet"
                       [(selection)]="bosdaBudgetDetSelected"
                       sortField="chartOfAccountCode"
                       rowGroupMode="subheader"
                       [tableStyle]="{'table-layout':'auto'}"
                       groupField="chartOfAccountCode"
                       expandableRowGroups="true"
                       [sortableRowGroup]="false"
                       [headerCheckboxToggleAllPages]="true">
            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
            <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['chartOfAccountCode'] + ' ' +
              rowData['chartOfAccountName']}}
            </ng-template>
            <p-column field="code" header="Kode"></p-column>
            <p-column field="description" header="Uraian"></p-column>
            <p-column field="amount" header="Vol">
              <ng-template let-data="rowData" pTemplate="body">
                <span *ngIf="data.amount">{{data.amount}}</span>
              </ng-template>
            </p-column>
            <p-column header="Satuan" styleClass="col-button text-center">
              <ng-template let-data="rowData" pTemplate="body">
                {{castSatuanUnit(data['unitDesc'])}}
              </ng-template>
            </p-column>
            <p-column field="costPerUnit" header="Tarif">
              <ng-template let-data="rowData" pTemplate="body">
                <span *ngIf="data.costPerUnit">{{data.costPerUnit}}</span>
              </ng-template>
            </p-column>
            <p-column field="total" header="Jumlah">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
              <ng-template pTemplate="header">
                Edit
              </ng-template>
              <ng-template let-data="rowData" pTemplate="body">
                <p-button *ngIf="data.type === 2" [disabled]="userInfo.isLocked === 'True'" type="button" icon="fa fa-fw fa-edit" label="Edit"
                          styleClass="ui-button-warning" (onClick)="btnEdit(data)"></p-button>
              </ng-template>
            </p-column>
            <ng-template pTemplate="rowgroupfooter" let-data>
              <td colspan="6" style="text-align:right">Total</td>
              <td style="text-align:right">{{calculateTotal(data['chartOfAccountCode'], data['chartOfAccountId']) |
                currencyRupiah}}
              </td>
              <td></td>
            </ng-template>
          </p-dataTable>
        </div>
      </div>
      <div class="box-footer">
        <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary"
          [disabled]="userInfo.isLocked === 'True'"
          (onClick)="btnAdd()"></p-button>
        <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger"
          [disabled]="userInfo.isLocked === 'True'"
          (onClick)="btnDelete()"></p-button>
      </div>
    </div>
  </div>
</div>
<app-add-komp-penyusun-bosda></app-add-komp-penyusun-bosda>
<app-edit-komp-penyusun-bosda></app-edit-komp-penyusun-bosda>
