<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <div class="col-lg-6 col-md-6 text-left">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #gb type="text" pInputText size="50" placeholder="Pencarian">
          <button class="btn btn-default btn-xs" [disabled]="unitSelected.length < 1" (click)="actionLock(1)"><i class="fa fa-lock"></i>&nbsp;Lock All</button>
          <button class="btn btn-default btn-xs" [disabled]="unitSelected.length < 1" (click)="actionLock(2)"><i class="fa fa-unlock"></i>&nbsp;Unlock All</button>
        </div>
        <div class="col-lg-6 col-md-6 text-right">
          <button class="btn btn-primary" (click)="showAdd()"><i class="fa fa-plus"></i>Tambah</button>
        </div>
      </div>
      <div class="box-body pad table-responsive">
        <p-dataTable [value]="listUnits"
                           [rows]="10"
                           [(selection)]="unitSelected"
                           [paginator]="true"
                           [globalFilter]="gb"
                           dataKey="id"
                           [pageLinks]="3">

          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <p-column header="No" [style]="{'width': '5%'}">
            <ng-template let-i="rowIndex" pTemplate="body">
              {{i + 1}}
            </ng-template>
          </p-column>
          <p-column field="code" header="Kode"></p-column>
          <p-column field="name" header="Nama"></p-column>
          <p-column field="districtName" header="Kecamatan"></p-column>
          <p-column header="Pendidikan" styleClass="col-button text-center">
            <ng-template let-data="rowData" pTemplate="body">
              {{castPendidikan(data['educationLvl'])}}
            </ng-template>
          </p-column>
          <p-column field="npsn" header="NPSN"></p-column>
          <p-column header="Jenis Anggaran" styleClass="col-button text-center">
            <ng-template let-data="rowData" pTemplate="body">
              {{castBudgetType(data['budgetType'])}}
            </ng-template>
          </p-column>
          <p-column header="Status" styleClass="col-button text-center">
            <ng-template let-data="rowData" pTemplate="body">
              <div [ngSwitch]="data['isLocked']">
                <button *ngSwitchCase="true" class="btn btn-danger btn-xs" (click)="actionSingle(data, 2)"><i class="fa fa-lock"></i></button>
                <button *ngSwitchCase="false" class="btn btn-default btn-xs" (click)="actionSingle(data, 1)"><i class="fa fa-unlock"></i></button>
              </div>
            </ng-template>
          </p-column>
          <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
            <ng-template pTemplate="header">
              Edit
            </ng-template>
            <ng-template let-data="rowData" pTemplate="body">
              <button class="btn btn-warning btn-sm" (click)="showEdit(data)"><i class="fa fa-edit"></i></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
<app-add-units></app-add-units>
<app-edit-units></app-edit-units>

