<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <div ngClass="areaBtnCetak">
          <p-splitButton label="Cetak"
                            icon="fa fa-print"
                            [model]="itemPrints"
                            [menuStyle]="{'width':'8em'}"
                            styleClass="ui-button-success"></p-splitButton>
          </div>
      </div>
      <div class="box-body pad table-responsive">
        <div class="col-lg-12 col-md-12">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th rowspan="2" ngClass="logoArea vertical-align"><img src="assets/images/ppu.png" class="img img-responsive"></th>
                <th style="text-transform: uppercase; font-size: 1.8em;" ngClass="text-center vertical-align">kabupaten penajam paser utara</th>
              </tr>
              <tr>
                <th style="text-transform: uppercase;font-size: 1.5em;" ngClass="text-center vertical-align">penjabaran belanja langsung</th>
              </tr>
            </thead>
          </table>
        </div>
        <p-table [value]="listBl" [customSort]="true">
          <ng-template pTemplate="header">
            <tr>
              <th ngClass="text-center vertical-align">KODE REKENING</th>
              <th ngClass="text-center vertical-align">URAIAN</th>
              <th ngClass="text-center vertical-align" style="width: 11%">TOTAL</th>
              <th ngClass="text-center vertical-align">PENJELASAN</th>
            </tr>
            <tr>
              <th ngClass="text-center vertical-align">1</th>
              <th ngClass="text-center vertical-align">2</th>
              <th ngClass="text-center vertical-align">3</th>
              <th ngClass="text-center vertical-align">4</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-preview>
            <tr>
              <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'">{{ preview.Code }}</td>
              <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'">{{ preview.Desc }}</td>
              <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'" style="text-align: right">{{ preview.Total | currencyRupiah}}</td>
              <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'">
                {{ preview.DetailDesc }}
                <span *ngIf="preview.Amount" style="float: right"> {{preview.Amount}} x {{preview.CostPerUnit}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
