<div class="row" @animationPage>
  <div class="col-lg-12 div-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-fieldset legend="Standar Harga" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 col-xs-12 control-label">Jenis Anggaran</label>
                    <div class="col-sm-10 col-xs-12">
                      <p-dropdown [options]="optJenisAnggaran"
                                  #sekolah
                                  [filter]="true"
                                  (onChange)="onChangeBudgetType()"
                                  formControlName="budgetType"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-dataTable
                [value]="listBudgetStandar"
                selectionMode="single"
                [editable]="userInfo.IsAdmin || userInfo.unitId != '0'">
                <p-column field="name" header="Uraian"></p-column>
                <p-column field="educationLvl" header="Jenjang Pendidikan">
                  <ng-template let-data="rowData" pTemplate="body">
                    <div [ngSwitch]="data.educationLvl">
                      <div *ngSwitchCase="1">TK</div>
                      <div *ngSwitchCase="2">SD</div>
                      <div *ngSwitchCase="3">SMP</div>
                      <div *ngSwitchDefault>NONE</div>
                    </div>
                  </ng-template>
                </p-column>
                <p-column field="value" header="Jumlah">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
                  <ng-template pTemplate="header">
                    Edit
                  </ng-template>
                  <ng-template let-data="rowData" pTemplate="body">
                    <button class="btn btn-warning btn-sm" (click)="showEdit(data)"><i class="fa fa-edit"></i></button>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
  <app-shedit></app-shedit>
