<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-fieldset legend="Filter" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 col-xs-12 control-label">Jenis Anggaran</label>
                    <div class="col-sm-10 col-xs-12">
                      <p-dropdown [options]="optJenisAnggaran"
                                  #sekolah
                                  [filter]="true"
                                  (onChange)="onChangeBudgetType()"
                                  formControlName="budgetType"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-dataTable [value]="listPerfBenchmarkFixed">
                <p-column field="indikator" header="Indikator"></p-column>
                <p-column field="name" header="Keluaran"></p-column>
                <p-column field="target" header="Target"></p-column>
                <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
                  <ng-template pTemplate="header">
                    Edit
                  </ng-template>
                  <ng-template let-data="rowData" pTemplate="body">
                      <button class="btn btn-warning btn-sm" (click)="formEdit(data)"><i class="fa fa-edit"></i></button>
                  </ng-template>
                </p-column>
            </p-dataTable>
            </div>
          </div>
        </p-fieldset>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div> 
<app-edit-indikator></app-edit-indikator>