<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <p-fieldset legend="Filter" [toggleable]="true" *ngIf="userInfo.IsAdmin">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group" *ngIf="userInfo.IsAdmin">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-9">
                      <p-dropdown [options]="optSekolah"
                                  [filter]="true"
                                  required
                                  formControlName="sekolah"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                    <div class="col-sm-2">
                      <p-button type="button" icon="fa fa-search" label="Lihat Data" styleClass="ui-button-primary" (onClick)="onChangeUnit()"></p-button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Preview" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div ngClass="areaBtnCetak">
                <p-splitButton label="Cetak"
                                icon="fa fa-print"
                                [model]="itemPrints"
                                [menuStyle]="{'width':'8em'}"
                                styleClass="ui-button-success"></p-splitButton>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <table class="table table-responsive table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2" ngClass="logoArea vertical-align"><img src="assets/images/ppu.png" class="img img-responsive"></th>
                    <th style="text-transform: uppercase;" ngClass="text-center vertical-align">Rencana Kerja Dan Anggaran Sekolah</th>
                    <th rowspan="2" ngClass="text-center vertical-align" style="text-transform: uppercase;">Formulir RKA<br>Belanja Langsung <br>Triwulan</th>
                  </tr>
                  <tr>
                    <th style="text-transform: uppercase;" ngClass="text-center vertical-align">Pemerintah Kabupaten Penajam Paser Utara</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">
                      <tr>
                        <td><b>NAMA SEKOLAH</b></td>
                        <td style="padding: 0rem 2rem 0rem 10rem">:</td>
                        <td>{{ unitSelected?.code }} - {{ unitSelected?.name }}</td>
                      </tr>
                      <tr>
                        <td><b>KECAMATAN</b></td>
                        <td style="padding: 0rem 2rem 0rem 10rem">:</td>
                        <td>{{unitSelected?.districtName}}</td>
                      </tr>
                      <tr>
                        <td><b>KAB / KOTA</b></td>
                        <td style="padding: 0rem 2rem 0rem 10rem">:</td>
                        <td>Kabupaten Penajam Paser Utara</td>
                      </tr>
                      <tr>
                        <td><b>PROVINSI</b></td>
                        <td style="padding: 0rem 2rem 0rem 10rem">:</td>
                        <td>Provinsi Kalimantan Timur</td>
                      </tr>
                      <tr>
                        <td><b>SUMBER DANA</b></td>
                        <td style="padding: 0rem 2rem 0rem 10rem">:</td>
                        <td>BOSDA</td>
                      </tr>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <p-table [value]="previews" [customSort]="true">
                        <ng-template pTemplate="header">
                          <tr>
                            <th ngClass="text-center vertical-align">REKENING</th>
                            <th ngClass="text-center vertical-align">URAIAN</th>
                            <th ngClass="text-center vertical-align">JUMLAH (Rp)</th>
                            <th ngClass="text-center vertical-align">TWI (Rp)</th>
                            <th ngClass="text-center vertical-align">TWII (Rp)</th>
                            <th ngClass="text-center vertical-align">TWIII (Rp)</th>
                            <th ngClass="text-center vertical-align">TWIV (Rp)</th>
                          </tr>
                          <tr>
                            <th ngClass="text-center vertical-align">1</th>
                            <th ngClass="text-center vertical-align">2</th>
                            <th ngClass="text-center vertical-align">3</th>
                            <th ngClass="text-center vertical-align">4</th>
                            <th ngClass="text-center vertical-align">5</th>
                            <th ngClass="text-center vertical-align">6</th>
                            <th ngClass="text-center vertical-align">7</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-preview>
                          <tr>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'">{{ preview.Code }}</td>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'">{{ preview.Name }}</td>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'" style="text-align: right"><span *ngIf="preview.Total">{{ preview.Total | currencyRupiah}}</span></td>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'" style="text-align: right"><span *ngIf="preview.Q1">{{ preview.Q1 | currencyRupiah}}</span></td>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'" style="text-align: right"><span *ngIf="preview.Q2">{{ preview.Q2 | currencyRupiah}}</span></td>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'" style="text-align: right"><span *ngIf="preview.Q3">{{ preview.Q3 | currencyRupiah}}</span></td>
                            <td [style.fontWeight]="preview.Type.trim() === 'H' ? 'bold' : 'none'" style="text-align: right"><span *ngIf="preview.Q4">{{ preview.Q4 | currencyRupiah}}</span></td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                        </ng-template>
                      </p-table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>
