<p-dialog header="Edit Rincian Belanja" [(visible)]="showThis" width="900" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <form [formGroup]="formEdit">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <div class="row" style="margin-right: -15px; margin-left: -15px">
                  <div class="col-lg-6 col-md-6">
                    <label>Uraian</label>
                    <input type="text" class="form-control input-sm" formControlName="description">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <label>Satuan</label>
                    <p-dropdown [options]="optUnitDesc"
                      formControlName="unitDesc"
                      #dd1
                      [filter]="true"
                      [style]="{'width':'100%'}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12" style="padding: 0px">
                  <label>Ekspresi</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="number" pInputText style="width: 100%" formControlName="expres1">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #dd2
                              [filter]="true"
                              formControlName="expres2"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 3%">
                  <label>x</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="number" pInputText style="width: 100%" formControlName="expres3">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #dd3
                              [filter]="true"
                              formControlName="expres4"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 3%">
                  <label>x</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="number" pInputText style="width: 100%" formControlName="expres5">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #dd4
                              [filter]="true"
                              formControlName="expres6"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group">
                <label>Tarif</label>
                <input type="text" pInputText currencyMask class="form-control" formControlName="costPerUnit">
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="btnSimpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="btnBatal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
