<p-dialog header="Edit Plafon BOSNAS" [(visible)]="showThis" width="500" (onHide)="onHide()" [modal]="true">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
          <div class="box-body pad table-responsive">
            <form [formGroup]="formEdit">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Unit</label>
                    <input type="text" pInputText class="form-control" formControlName="unitName" readonly>
                  </div>
                <div class="form-group">
                  <label>Jumlah Siswa</label>
                  <input type="text" pInputText class="form-control" formControlName="totalStudent">
                </div>
                <div class="form-group">
                  <label>Standar Harga</label>
                  <input type="text" pInputText class="form-control" formControlName="standardPrice" readonly>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer text-center">
            <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="Simpan()"></p-button>
            <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="Batal()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
