<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-fieldset legend="Filter" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group" *ngIf="userInfo.IsAdmin">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-11">
                      <p-dropdown [options]="optSekolah"
                                  #sekolah
                                  [filter]="true"
                                  formControlName="sekolah"
                                  (onChange)="onChangeUnit()"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                  <!-- <div class="form-group" *ngIf="dataType === 2">
                    <label class="col-sm-1 control-label">Program</label>
                    <div class="col-sm-11">
                      <p-dropdown [options]="optProgram"
                                  #program
                                  formControlName="program"
                                  (onChange)="onChangeProgram()"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="dataType === 2">
                    <label class="col-sm-1 control-label">Kegiatan</label>
                    <div class="col-sm-11">
                      <p-dropdown [options]="optKegiatan"
                                  formControlName="kegiatan"
                                  (onChange)="getRkas()"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div> -->
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Pagu : {{titleLegend | currencyRupiah}}" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-tabView (onChange)="onOpentabs()">
                <p-tabPanel header="Indikator Kinerja" [selected]="true" *ngIf="dataType === 2">
                  <app-indikator-kinerja></app-indikator-kinerja>
                </p-tabPanel>
                <p-tabPanel header="Komponen Penyusun">
                  <app-komp-penyusun></app-komp-penyusun>
                </p-tabPanel>
                <p-tabPanel header="Anggaran Kas">
                  <app-anggaran-kas></app-anggaran-kas>
                </p-tabPanel>
                <p-tabPanel header="Preview">
                  <app-preview></app-preview>
                </p-tabPanel>
              </p-tabView>

            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>
<app-lookup-rekening></app-lookup-rekening>
