<p-dialog header="Daftar Unit" [(visible)]="showThis" width="1000" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-header text-right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #gb type="text" pInputText size="50" placeholder="Pencarian">
        </div>
        <div class="box-body pad table-responsive">
          <p-dataTable [value]="listActivity"
                       [(selection)]="activitySelected"
                       dataKey="id"
                       [paginator]="true"
                       [rows]="10"
                       [editable]="true"
                       [globalFilter]="gb"
                       [headerCheckboxToggleAllPages]="true">
            <p-column [style]="{'width':'38px'}" selectionMode="multiple" [editable]="false"></p-column>
            <p-column [style]="{'width':'50%'}" field="name" header="Kegiatan" [editable]="false"></p-column>
            <p-column field="jumlah" header="Jumlah" [style]="{'text-align': 'right'}" [editable]="true"></p-column>
          </p-dataTable>
        </div>
        <div class="box-footer">
          <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnSimpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-secondary" (onClick)="btnBatal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
