<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-fieldset legend="Filter" *ngIf="userInfo.IsAdmin" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-11">
                      <p-dropdown [options]="optSekolah"
                                  #sekolah
                                  [filter]="true"
                                  formControlName="sekolah"
                                  (onChange)="onChangeUnit()"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Pagu : {{titleLegend | currencyRupiah}}" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-tabView>
                <p-tabPanel header="Komponen Penyusun">
                  <app-bosda-komp-penyusun></app-bosda-komp-penyusun>
                </p-tabPanel>
                <p-tabPanel header="Anggaran Kas">
                  <app-bosda-anggaran-kas></app-bosda-anggaran-kas>
                </p-tabPanel>
                <p-tabPanel header="Preview">
                  <app-bosda-preview></app-bosda-preview>
                </p-tabPanel>
              </p-tabView>

            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>

