<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
          <p-fieldset legend="Rekening BOSDA" [toggleable]="true">
            <div class="box box-primary">
              <div class="box-header">
                <div class="col-lg-6 col-md-6 text-left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input #gb type="text" pInputText size="50" placeholder="Pencarian">
                </div>
              </div>
              <div class="box-body pad table-responsive">
                <p-dataTable [value]="listCoa"
                  [(selection)]="coaSelected"
                  dataKey="id"
                  (onRowClick)="rowSelect($event.data)"
                  [paginator]="true"
                  [rows]="10"
                  [globalFilter]="gb"
                  [headerCheckboxToggleAllPages]="true" selectionMode="multiple">
                  <p-column field="code" header="Kode"></p-column>
                  <p-column field="name" header="Uraian"></p-column>
                </p-dataTable>
              </div>
              <div class="box-footer">
                  <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnAdd()"></p-button>
                  <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button>
              </div>
            </div>
          </p-fieldset>
          <app-mapping-header-bosda></app-mapping-header-bosda>
      </div>
    </div>
  </div>
</div>
<app-add-rekening-bosda></app-add-rekening-bosda>
