<div class="box box-primary">
  <div class="box-body pad table-responsive">
    <p-dataTable [value]="valueDefault" [editable]="userInfo.IsAdmin || userInfo.unitId != '0'">
      <p-column field="uraian" header="Uraian" [editable]="false"></p-column>
      <p-column field="total" header="Jumlah" [editable]="userInfo.IsAdmin || userInfo.unitId != '0'"></p-column>
  </p-dataTable>
  </div>
  <div class="box-footer">
    <p-button type="button" *ngIf="userInfo.IsAdmin || userInfo.unitId != '0'" icon="fa fa-fw fa-plus" label="Simpan" styleClass="ui-button-primary" (onClick)="btnUpdate()"></p-button>
</div>