<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <div [hidden]="!userInfo.IsAdmin">
          <p-fieldset legend="Filter" [toggleable]="true">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal" [formGroup]="formFilter">
                  <div class="box-body">
                    <div class="form-group">
                      <label class="col-sm-1 control-label">Sekolah</label>
                      <div class="col-sm-11">
                        <p-dropdown [options]="optUnit"
                                    [filter]="true"
                                    formControlName="unitId"
                                    (onChange)="onChangeUnit()"
                                    [style]="{'width':'100%'}">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-fieldset>
        </div>
        <p-fieldset legend="Visi, Misi & Tujuan Sekolah" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-tabView>
                <p-tabPanel header="Visi">
                  <app-visi></app-visi>
                </p-tabPanel>
                <p-tabPanel header="Misi">
                  <app-misi></app-misi>
                </p-tabPanel>
                <p-tabPanel header="Tujuan">
                  <app-tujuan></app-tujuan>
                </p-tabPanel>
              </p-tabView>

            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>
<app-add-visi-misi></app-add-visi-misi>
<app-edit-visi-misi></app-edit-visi-misi>
