<p-fieldset legend="Pegawai" [toggleable]="true">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header text-right">
        <button class="btn btn-primary" (click)="showAdd()"><i class="fa fa-plus"></i> Tambah</button>
      </div>
      <div class="box-body pad table-responsive">
        <p-dataTable [value]="listPegawai">
          <p-column field="nip" header="NIP"></p-column>
          <p-column field="name" header="Nama"></p-column>
          <p-column field="jobDesc" header="Jabatan"></p-column>
          <p-column header="Ttd" [style]="{'text-align': 'center'}">
            <ng-template let-data="rowData" pTemplate="body">
              <input type="checkbox" [checked]="data.signer == 1">
            </ng-template>
          </p-column>
          <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
            <ng-template pTemplate="header">
              Edit
            </ng-template>
            <ng-template let-data="rowData" pTemplate="body">
              <button class="btn btn-warning btn-sm" (click)="btnEdit(data)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger btn-sm" (click)="btnHapus(data)"><i class="fa fa-trash"></i></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</p-fieldset>
<app-tambah-pegawai></app-tambah-pegawai>
<app-ubah-pegawai></app-ubah-pegawai>
