<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <div class="col-md-6 col-sm-12 text-left">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #gb type="text" pInputText size="50" placeholder="Pencarian">
        </div>
        <div class="col-md-6 col-sm-6">
          <div ngClass="areaBtnCetak">
              <p-splitButton label="Cetak"
                              icon="fa fa-print"
                              [model]="itemPrints"
                              [menuStyle]="{'width':'8em'}"
                              styleClass="ui-button-success"></p-splitButton>
            </div>
        </div>
      </div>
      <div class="box-body pad table-responsive">
        <p-dataTable
            [value]="listBosdaLimit"
            [rows]="10"
            [paginator]="true"
            [style]="{'font-size':'12px'}"
            [pageLinks]="3">
            <p-headerColumnGroup>
              <p-row>
                <p-column header="No" rowspan="2" [style]="{'width': '45px'}"></p-column>
                <p-column header="Unit Sekolah" rowspan="2"></p-column>
                <p-column header="Siswa Per Tahun" colspan="3"></p-column>
                <p-column header="Rombel" colspan="3"></p-column>
                <p-column header="Per Sekolah" rowspan="2"></p-column>
                <p-column header="Tambahan" rowspan="2"></p-column>
                <p-column header="Total" rowspan="2"></p-column>
                <p-column header="Edit" rowspan="2" [style]="{'width': '45px'}"></p-column>
              </p-row>
              <p-row>
                <p-column header="Jumlah Siswa"></p-column>
                <p-column header="Per Siswa"></p-column>
                <p-column header="Jumlah"></p-column>
                <p-column header="Rombel"></p-column>
                <p-column header="Per Rombel"></p-column>
                <p-column header="Jumlah"></p-column>
              </p-row>
              <p-row>
                <p-column header="1"></p-column>
                <p-column header="2"></p-column>
                <p-column header="3"></p-column>
                <p-column header="4"></p-column>
                <p-column header="5"></p-column>
                <p-column header="6"></p-column>
                <p-column header="7"></p-column>
                <p-column header="8"></p-column>
                <p-column header="9"></p-column>
                <p-column header="10"></p-column>
                <p-column header="11"></p-column>
                <p-column header="12"></p-column>
              </p-row>
            </p-headerColumnGroup>
            <p-column header="No">
                <ng-template let-i="rowIndex" pTemplate="body">
                  {{i + 1}}
                </ng-template>
              </p-column>
            <p-column field="unitName"></p-column>
            <p-column field="studentNumber" [style]="{'text-align': 'center'}">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span *ngIf="data[col.field] !== 0">{{data[col.field]}}</span>
              </ng-template>
            </p-column>
            <p-column field="perStudentPrice">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column field="totalPerStudentPrice">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right; font-weight: bold" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column field="rombel" [style]="{'text-align': 'center'}">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span *ngIf="data[col.field] !== 0">{{data[col.field]}}</span>
              </ng-template>
            </p-column>
            <p-column field="perRombelPrice">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column field="totalPerRombelPrice">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right; font-weight: bold" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column field="perUnitPrice">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column field="extraPrice">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column field="total">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span style="float: right; font-weight: bold" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button text-center">
              <ng-template let-dataheader="rowData" pTemplate="body">
                <p-button type="button" [disabled]="userInfo.isLocked === 'True'" icon="fa fa-fw fa-edit" styleClass="ui-button-warning" (onClick)="formEdit(dataheader)"></p-button>
              </ng-template>
            </p-column>
            <p-footerColumnGroup>
                <p-row>
                    <p-column footer="Total:" colspan="10"></p-column>
                    <p-column>
                      <ng-template pTemplate="footer">
                        <span style="float: right; font-weight: bold">{{calculateTotal('total') | currencyRupiah}}</span>
                      </ng-template>
                    </p-column>
                    <p-column footer=""></p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>
      </div>
      <div class="box-footer">
        <!-- <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnAdd()"></p-button>
        <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button> -->
      </div>
    </div>
  </div>
</div>
<app-edit-plafon-bosda></app-edit-plafon-bosda>
<!-- <app-add-plafon-bosda></app-add-plafon-bosda> -->
