<p-dialog header="Tambah Berita" [(visible)]="showThis" width="600" (onHide)="onHide()" [modal]="true">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
          <div class="box-body pad table-responsive">
            <form [formGroup]="formAdd">
              <div class="form-group">
                <label>Jenis Berita</label>
                <p-dropdown [options]="optJenisBerita"
                              #sekolah
                              [filter]="true"
                              formControlName="type"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
              </div>
              <div class="form-group">
                <label>Judul</label>
                <input type="text" pInputText class="form-control" formControlName="title">
                </div>
              <div class="form-group">
                <label>Deskripsi</label>
                <textarea class="form-control" formControlName="description"></textarea>
              </div>
            </form>
          </div>
          <div class="box-footer text-center">
            <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="Simpan()"></p-button>
            <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="Batal()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
