<p-fieldset legend="Sumber Dana" [toggleable]="true">
  <div class="row" @animationPage>
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="col-lg-6 col-md-6 text-left">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Pencarian">
          </div>
        </div>
        <div class="box-body pad table-responsive">
          <p-dataTable [value]="listSumberDana"
            [rows]="10"
            [paginator]="true"
            [globalFilter]="gb"
            [(selection)]="sumberDanaSelected"
            dataKey="id"
            [headerCheckboxToggleAllPages]="true"
            [pageLinks]="3">
            <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
            <p-column field="code" header="Kode"></p-column>
            <p-column field="name" header="Uraian"></p-column>
            <p-column field="type" header="Type" [style]="{'width':'100px', 'text-align': 'center'}">
                <ng-template let-col let-data="rowData" pTemplate="body">
                  <span>{{switchType(data[col.field])}}</span>
                </ng-template>
              </p-column>
            <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
              <ng-template pTemplate="header">
              Edit
              </ng-template>
              <ng-template let-data="rowData" pTemplate="body">
              <button class="btn btn-warning btn-sm" (click)="showEdit(data)"><i class="fa fa-edit"></i></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
        <div class="box-footer">
            <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="showAdd()"></p-button>
            <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>
<app-form-add></app-form-add>
<app-form-edit></app-form-edit>