<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <form class="form-horizontal" [formGroup]="formFilter">
            <div class="box-body" *ngIf="userInfo.IsAdmin && userInfo.unitId == '0'">
              <div class="form-group">
                <label class="col-sm-1 control-label">Sekolah</label>
                <div class="col-sm-11">
                  <p-dropdown [options]="optSekolah"
                              #sekolah
                              [filter]="true"
                              formControlName="sekolah"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                  <p-button type="button" icon="fa fa-fw fa-search" label="Lihat Data" styleClass="ui-button-primary" (onClick)="GetData()"></p-button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <app-list-sd></app-list-sd>
        </div>
      </div>
    </div>
  </div>
</div>
