<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <p-fieldset legend="Plafon Anggaran (BOSNAS)" [toggleable]="true">
          <div class="box box-primary">
            <div class="box-header">
              <div class="col-md-6 col-sm-12 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText size="50" placeholder="Pencarian">
              </div>
              <div class="col-md-6 col-sm-6">
                <div ngClass="areaBtnCetak">
                    <p-splitButton label="Cetak"
                                    icon="fa fa-print"
                                    [model]="itemPrints"
                                    [menuStyle]="{'width':'8em'}"
                                    styleClass="ui-button-success"></p-splitButton>
                  </div>
              </div>
            </div>
            <div class="box-body pad table-responsive">
              <p-dataTable [value]="listBosnasLimit"
                          [paginator]="true"
                          [rows]="10"
                          [globalFilter]="gb">
                <p-column field="unitCode" header="Kode"></p-column>
                <p-column field="unitName" header="Unit"></p-column>
                <p-column field="standardPrice" header="Standar">
                    <ng-template let-col let-data="rowData" pTemplate="body">
                      <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
                    </ng-template>
                  </p-column>
                <p-column field="totalStudent" header="Jumlah Siswa"></p-column>
                <p-column field="total" header="Pagu">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
                  <ng-template pTemplate="header">
                    Edit
                  </ng-template>
                  <ng-template let-dataheader="rowData" pTemplate="body">
                    <p-button type="button" [disabled]="userInfo.isLocked === 'True'" icon="fa fa-fw fa-edit" label="Edit" styleClass="ui-button-warning" (onClick)="showEdit(dataheader)"></p-button>
                  </ng-template>
                </p-column>
                <p-footerColumnGroup>
                  <p-row>
                    <p-column footer="Total" colspan="4"></p-column>
                    <p-column>
                      <ng-template pTemplate="footer">{{ total | currencyRupiah }}</ng-template>
                    </p-column>
                    <p-column></p-column>
                  </p-row>
                </p-footerColumnGroup>
              </p-dataTable>
            </div>
            <div class="box-footer">
              <!-- <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnAdd()"></p-button>
              <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button> -->
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>
<app-edit-plafon-bosnas></app-edit-plafon-bosnas>
