<div class="box box-primary">
  <div class="box-header">
    <form class="form-horizontal" [formGroup]="formFilter">
      <div class="box-body">
        <div class="form-group" *ngIf="userInfo.IsAdmin">
          <label class="col-sm-2 col-xs-12 control-label">Sekolah</label>
          <div class="col-sm-7 col-xs-12">
            <p-dropdown [options]="optSekolah"
                        [filter]="true"
                        required
                        formControlName="sekolah"
                        [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
          <div class="col-sm-3 col-xs-12">
            <p-button type="button" icon="fa fa-search" label="Lihat Data" styleClass="ui-button-primary" (onClick)="onChangeUnit()"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="box-body pad">
    <p-chart type="pie" [data]="data" [options]="options"></p-chart>
  </div>
</div>

