<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/images/ppu.png" class="img-responsive" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Penajam Paser Utara</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Active</a>
      </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN MENU</li>
      <li [routerLinkActive]="['active']"><a routerLink="dashboards"><i class="fa fa-dashboard"></i><span style="padding-left: 10px">Dashboard</span></a></li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i><span><span style="padding-left: 10px">Dashboard</span></span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
      </li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-id-card"></i><span><span style="padding-left: 10px">Kartu Kendali</span></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a routerLink="kendali-bosda"><i class="fa fa-circle-o"></i><span style="padding-left: 10px"></span>Bosda</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="kendali-bosnas"><i class="fa fa-circle-o"></i><span style="padding-left: 10px">Bosnas</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-home"></i><span><span style="padding-left: 10px">Profil Sekolah</span></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a routerLink="visi-misi"><i class="fa fa-circle-o"></i><span style="padding-left: 10px"></span>Visi, Misi & Tujuan</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="data-umum"><i class="fa fa-circle-o"></i><span style="padding-left: 10px">Data Umum</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-money"></i><span><span style="padding-left: 10px">Plafon Anggaran</span></span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="plafon-bosda"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">BOSDA</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="plafon-bosnas"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">BOSNAS</span></a></li>
          <li *ngIf="userInfo.budgetType === '2' || userInfo.budgetType === '3' || userInfo.budgetType === ''" [routerLinkActive]="['active']"><a routerLink="saldo-awal"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Sisa Anggaran Tahun Lalu</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-money"></i><span><span style="padding-left: 10px">RKAS</span></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="userInfo.budgetType === '1' || userInfo.budgetType === '3' || userInfo.budgetType === ''" [routerLinkActive]="['active']"><a routerLink="rka-bosda"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">BOSDA</span></a></li>
          <li *ngIf="userInfo.budgetType === '2' || userInfo.budgetType === '3' || userInfo.budgetType === ''" [routerLinkActive]="['active']"><a routerLink="rka-bosnas"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">BOSNAS</span></a></li>
          <li [routerLinkActive]="['active']"><a routerLink="rka-btl"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Belanja Tidak Langsung</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-print"></i><span><span style="padding-left: 10px">Cetak RKAS</span></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i> BOSDA
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']"><a [routerLink]="['dash-rekap-bl', '1']"><i class="fa fa-circle-o"></i> Rekap</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="dash-bosda-triwulan"><i class="fa fa-circle-o"></i> Triwulan</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="dash-bosda"><i class="fa fa-circle-o"></i> Rincian</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i> BOSNAS
              <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']"><a [routerLink]="['dash-rekap-bl', '2']"><i class="fa fa-circle-o"></i> Rekap</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="dash-bosnas-triwulan"><i class="fa fa-circle-o"></i> Triwulan</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="dash-bosnas"><i class="fa fa-circle-o"></i> Rincian</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i> BTL
              <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li [routerLinkActive]="['active']"><a routerLink="dash-btl"><i class="fa fa-circle-o"></i> Rincian</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-money"></i><span><span style="padding-left: 10px">APBS</span></span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a routerLink="manual-entry"><i class="fa fa-list-alt"></i> Manual Entry</a></li>
          <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i> Cetak APBS
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">

              <li [routerLinkActive]="['active']"><a routerLink="apbs-asistensi"><i class="fa fa-list-alt"></i> Sampul, Pengesahan & Asistensi</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="apbs-visi-misi"><i class="fa fa-list-alt"></i> Visi Misi & Data Sekolah</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="apbs-ringkasan"><i class="fa fa-list-alt"></i> Ringkasan</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="apbs-rincian"><i class="fa fa-list-alt"></i> Rincian</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-floppy-o"></i><span><span style="padding-left: 10px">Data Master</span></span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="program-kegiatan"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Program Kegiatan</span></a></li>
          <!-- <li [routerLinkActive]="['active']"><a routerLink="sumber-dana"><i class="fa fa-money"></i><span style="padding-left: 10px">Sumber Dana</span></a></li> -->
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="pegawai" [queryParams]="{unitStructure: 3}" [replaceUrl]="true"><i class="fa fa-users"></i><span style="padding-left: 10px">Tim Asistensi & Verifikasi</span></a></li>
          <li [routerLinkActive]="['active']"><a routerLink="pegawai" [queryParams]="{unitStructure: 4}" [replaceUrl]="true"><i class="fa fa-users"></i><span style="padding-left: 10px">Pegawai</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="indikator-kinerja-kegiatan"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Indikator Kinerja Kegiatan</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="rekening-bosda"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Rekening BOSDA</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="daftar-units"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Daftar Unit</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="daftar-satuan"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Daftar Satuan</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="standar-harga"><i class="fa fa-money"></i><span style="padding-left: 10px">Standar Harga</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="master-berita"><i class="fa fa-list-alt"></i><span style="padding-left: 10px">Berita</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="daftar-user"><i class="fa fa-users"></i><span style="padding-left: 10px">Daftar User</span></a></li>
          <li *ngIf="userInfo.IsAdmin" [routerLinkActive]="['active']"><a routerLink="web-option"><i class="fa fa-cogs"></i><span style="padding-left: 10px">Web Option</span></a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
