<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <p-fieldset legend="Filter" [toggleable]="true" *ngIf="userInfo.IsAdmin">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group" *ngIf="userInfo.IsAdmin">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-9">
                      <p-dropdown [options]="optSekolah"
                                  [filter]="true"
                                  required
                                  formControlName="sekolah"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                    <div class="col-sm-2">
                      <p-button type="button" icon="fa fa-search" label="Lihat Data" styleClass="ui-button-primary" (onClick)="onChangeUnit()"></p-button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Data Umum Sekolah" [toggleable]="true">
          <app-manual-entry-list></app-manual-entry-list>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>

