<p-dialog header="Daftar Rekening" [(visible)]="showThis" width="900" (onHide)="onHide()" [modal]="true">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
          <div class="box-header">
            <div class="col-lg-6 col-md-6 text-left">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #gb type="text" pInputText size="50" placeholder="Pencarian">
            </div>
          </div>
          <div class="box-body pad table-responsive">
            <p-dataTable [value]="listCoaBefore"
              [(selection)]="coaBeforeSelected"
              dataKey="id"
              [paginator]="true"
              [rows]="10"
              [globalFilter]="gb"
              [headerCheckboxToggleAllPages]="true">
              <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
              <p-column field="code" header="Kode"></p-column>
              <p-column field="name" header="Uraian"></p-column>
            </p-dataTable>
          </div>
          <div class="box-footer text-center">
            <p-button type="button" icon="fa fa-fw fa-save" label="Tambah" styleClass="ui-button-primary" (onClick)="Simpan()"></p-button>
            <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="Batal()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
