<p-fieldset legend="Jabatan" [toggleable]="true">
  <p-dataTable
    [value]="listJobs"
    selectionMode="single"
    [tableStyleClass]="'borderless'"
    (onRowSelect)="rowSelected($event)">
    <p-column field="name" header="Nama Jabatan"></p-column>
  </p-dataTable>
</p-fieldset>
