<p-dialog header="Edit Anggaran Kas" [(visible)]="showThis" width="900" (onHide)="onHide()" [modal]="true">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
          <div class="box-body pad table-responsive">
            <form [formGroup]="formEdit">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Triwulan I</label>
                  <input type="text" pInputText class="form-control" formControlName="q1">
                </div>
                <div class="form-group">
                  <label>Triwulan II</label>
                  <input type="text" pInputText class="form-control" formControlName="q2">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Triwulan III</label>
                  <input type="text" pInputText class="form-control" formControlName="q3">
                </div>
                <div class="form-group">
                  <label>Triwulan IV</label>
                  <input type="text" pInputText class="form-control" formControlName="q4">
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer text-center">
            <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="btnSimpan()"></p-button>
            <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="btnBatal()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
