<p-dialog header="{{titleLookup}}" [(visible)]="display" width="1200" positionTop="50" (onHide)="onHide()">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-header text-right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #gb type="text" pInputText size="50" placeholder="Pencarian">
        </div>
        <div class="box-body pad table-responsive">
          <p-dataTable [value]="listRekening"
                       [(selection)]="rekeningSelected"
                       dataKey="code"
                       [paginator]="true"
                       [rows]="10"
                       [editable]="true"
                       [globalFilter]="gb"
                       [headerCheckboxToggleAllPages]="true">
            <p-column [style]="{'width':'38px'}" selectionMode="multiple" [editable]="false"></p-column>
            <p-column [style]="{'width':'125px'}" field="code" header="Kode Rekening" [editable]="false"></p-column>
            <p-column [style]="{'width':'50%'}" field="name" header="Uraian" [editable]="true"></p-column>
            <p-column [style]="{'width':'20%'}" field="sumberdana" styleClass="col-button text-center">
              <ng-template pTemplate="header">
                Sumber Dana
              </ng-template>
              <ng-template let-data="rowData" pTemplate="body">
                <div [formGroup]="formGroups">
                  <p-dropdown formControlName="SumberDana"
                              [options]="optSumberDana"
                              [autoWidth]="false"
                              (onChange)="onChangeSumberDana(data)"
                              [style]="{'width':'100%'}"
                              appendTo="body">
                </p-dropdown>
                </div>
              </ng-template>
            </p-column>
            <p-column field="jumlah" header="Jumlah" [style]="{'text-align': 'right'}" [editable]="true"></p-column>
          </p-dataTable>
          {{ errors | json }}
        </div>
        <div class="box-footer">
          <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnSimpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="btnBatal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
