<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 2rem">
            <div ngClass="areaBtnCetak">
              <p-splitButton label="Cetak"
                  icon="fa fa-print"
                  [model]="itemPrints"
                  [menuStyle]="{'width':'8em'}"
                  styleClass="ui-button-success"></p-splitButton>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th rowspan="2" ngClass="logoArea vertical-align"><img src="assets/images/ppu.png" class="img img-responsive"></th>
                </tr>
                <tr>
                  <th style="text-transform: uppercase;" ngClass="text-center vertical-align">
                    DINAS PENDIDIKAN PEMUDA DAN OLAHRAGA KAB. PENAJAM PASER UTARA <br>
                    DAFTAR ALOKASI PENERIMA DANA BANTUAN OPERASIONAL SEKOLAH NASIONAL (BOSNAS) <br>
                    TAHUN ANGGARAN {{ thnAng }}
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p-dataTable
                [value]="listKendali"
                [rows]="20"
                [paginator]="true"
                [pageLinks]="3">
                <p-headerColumnGroup>
                  <p-row>
                    <p-column header="No" [style]="{'width': '45px', 'font-weight': 'bold', 'height': '60px'}"></p-column>
                    <p-column header="Nama Sekolah" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="Alokasi Dana Bosnas (Rp)" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="Sisa Saldo (Rp)" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="Jumlah Bosnas (Rp)" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="RKA Sekolah (Rp)" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="Selisih (Rp)" [style]="{'font-weight': 'bold'}"></p-column>
                  </p-row>
                  <p-row>
                    <p-column header="1"></p-column>
                    <p-column header="2"></p-column>
                    <p-column header="3"></p-column>
                    <p-column header="4"></p-column>
                    <p-column header="5 = 3 - 4"></p-column>
                    <p-column header="6"></p-column>
                    <p-column header="7 = 6 - 5"></p-column>
                  </p-row>
                </p-headerColumnGroup>
                <p-column header="No">
                    <ng-template let-i="rowIndex" pTemplate="body">
                      {{i + 1}}
                    </ng-template>
                  </p-column>
                <p-column field="Name"></p-column>
                <p-column field="Pagu">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="SisaSaldo">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="JmlBosnas">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="Rka">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right;" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="Selisih">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right;" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-footerColumnGroup>
                  <p-row>
                      <p-column footer="Total:" colspan="2"></p-column>
                      <p-column>
                        <ng-template pTemplate="footer">
                          <span style="float: right; font-weight: bold">{{calculateTotal('Pagu') | currencyRupiah}}</span>
                        </ng-template>
                      </p-column>
                      <p-column>
                        <ng-template pTemplate="footer">
                          <span style="float: right; font-weight: bold">{{calculateTotal('SisaSaldo') | currencyRupiah}}</span>
                        </ng-template>
                      </p-column>
                      <p-column>
                        <ng-template pTemplate="footer">
                          <span style="float: right; font-weight: bold">{{calculateTotal('JmlBosnas') | currencyRupiah}}</span>
                        </ng-template>
                      </p-column>
                      <p-column>
                        <ng-template pTemplate="footer">
                          <span style="float: right; font-weight: bold">{{calculateTotal('Rka') | currencyRupiah}}</span>
                        </ng-template>
                      </p-column>
                      <p-column>
                        <ng-template pTemplate="footer">
                          <span style="float: right; font-weight: bold">{{calculateTotal('Selisih') | currencyRupiah}}</span>
                        </ng-template>
                      </p-column>
                  </p-row>
              </p-footerColumnGroup>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
