<p-growl [(value)]="msgs" [life]="3000" [style]="{'margin-top':'35px'}"></p-growl>
<p-dialog header="Ubah Data" [(visible)]="showThis" width="550" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-header text-center">
          <h4>{{titleThis}}</h4>
        </div>
        <div class="box-body pad table-responsive">
          <div [formGroup]="formGroups">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label>Jumlah</label>
                <input type="text" pInputText class="form-control" formControlName="Jumlah" />
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="btnUpdate()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="btnCancel()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
