<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <div class="col-lg-5 col-md-5">
          <form class="form-horizontal" [formGroup]="formFilterRole">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-3 control-label">Role User</label>
                <div class="col-sm-9">
                  <p-dropdown [options]="optRole"
                              #sekolah
                              [filter]="true"
                              formControlName="roleUser"
                              (onChange)="onChangeRole()"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="box box-primary">
            <div class="box-header">
              <div class="col-lg-6 col-md-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText size="50" placeholder="Pencarian">
              </div>
              <div class="col-lg-6 col-md-6 text-right">
                <button class="btn btn-primary" (click)="showAdd()"><i class="fa fa-plus"></i>Tambah</button>
              </div>
            </div>
            <div class="box-body pad table-responsive">
              <p-dataTable [value]="listUsers"
                           [rows]="10"
                           [paginator]="true"
                           [globalFilter]="gb"
                           [pageLinks]="3">
                <p-column header="No" [style]="{'width': '5%'}">
                  <ng-template let-i="rowIndex" pTemplate="body">
                    {{i + 1}}
                  </ng-template>
                </p-column>
                <p-column field="userName" header="Nama User"></p-column>
                <p-column field="fullName" header="Nama Lengkap"></p-column>
                <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
                  <ng-template pTemplate="header">
                    Edit
                  </ng-template>
                  <ng-template let-data="rowData" pTemplate="body">
                    <button class="btn btn-warning btn-sm" (click)="showEdit(data)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="hapusUser(data)"><i class="fa fa-trash"></i></button>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
<app-add-user></app-add-user>
<app-edit-user></app-edit-user>

