<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <form class="form-horizontal" [formGroup]="formFilter">
            <div class="box-body">
              <div class="form-group" *ngIf="userInfo.IsAdmin && userInfo.unitId == '0'">
                <label class="col-sm-1 control-label">Sekolah</label>
                <div class="col-sm-11">
                  <p-dropdown [options]="optSekolah"
                              #sekolah
                              [filter]="true"
                              formControlName="sekolah"
                              (onChange)="getUnitActivity()"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label">Program</label>
                <div class="col-sm-11">
                  <p-dropdown [options]="optProgram"
                              formControlName="program"
                              (onChange)="getUnitActivity()"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p-tabView (onChange)="onChangeTabs($event)">
            <p-tabPanel header="Belanja Langsung">
              <app-belanja-langsung></app-belanja-langsung>
            </p-tabPanel>
            <p-tabPanel header="Belanja Tidak Langsung" [selected]="true">
              <app-belanja-tidak-langsung></app-belanja-tidak-langsung>
            </p-tabPanel>
        </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
