<p-growl [(value)]="msgs" [life]="3000"></p-growl>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="login-box" @animationPage>
      <div class="login-logo">
        <a href="./"><b>APBS</b> - Online</a>
      </div>
      <div class="login-desc">
        <p>Anggaran Pendapatan Belanja Sekolah</p>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <div class="col-lg-12">
          <img src="assets/images/logoTitle.png" class="img-responsive">
        </div>
        <p class="login-box-msg">Silahkan Masuk Untuk Mengakses Aplikasi</p>
        <form [formGroup]="formLogin">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="User" formControlName="userName">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="Auth()">Masuk</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
</div>
