<p-dialog header="{{detilBerita.type === 1 ? 'Pengumuman': 'Peringatan'}}" [(visible)]="showThis" width="600" (onHide)="onHide()" [modal]="true">
  <div class="row" *ngIf="detilBerita.id">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> {{ detilBerita.title }}
        <small class="pull-right">{{ detilBerita.dateCreate | date: 'dd-MM-yyyy hh:mm:ss' }}</small>
      </h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="text-muted well well-sm no-shadow" style="margin-top: 5px;">
        {{ detilBerita.description }}
      </p>
    </div>
  </div>
</p-dialog>
