<p-fieldset legend="Program" [toggleable]="true">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-header text-left">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Pencarian">
        </div>
        <div class="box-body pad table-responsive">
          <p-dataTable [value]="listProgram"
              [(selection)]="programSelected"
              (onRowClick)="rowSelect($event)"
              dataKey="id"
              [paginator]="true"
              [rows]="10"
              [globalFilter]="gb"
              [headerCheckboxToggleAllPages]="true">
            <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
            <p-column [style]="{'width':'10%'}" field="code" header="Kode"></p-column>
            <p-column field="name" header="Nama"></p-column>
            <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
              <ng-template pTemplate="header">
                Edit
              </ng-template>
              <ng-template let-data="rowData" pTemplate="body">
                  <button class="btn btn-warning btn-sm" (click)="formEdit(data)"><i class="fa fa-edit"></i></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
        <div class="box-footer">
            <!-- <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="showAdd()"></p-button>
            <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button> -->
        </div>
      </div>
  </div>
</p-fieldset>
<app-add-program></app-add-program>
<app-edit-program></app-edit-program>
