<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <div ngClass="areaBtnCetak">
          <p-splitButton label="Cetak"
                            icon="fa fa-print"
                            [model]="itemPrints"
                            [menuStyle]="{'width':'8em'}"
                            styleClass="ui-button-success"></p-splitButton>
          </div>
      </div>
      <div class="box-body pad table-responsive">
        <div class="col-lg-12 col-md-12">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th rowspan="2" ngClass="logoArea vertical-align"><img src="images/ppu.png" class="img img-responsive"></th>
                <th style="text-transform: uppercase; font-size: 1.8em;" ngClass="text-center vertical-align">kabupaten penajam paser utara</th>
              </tr>
              <tr>
                <th style="text-transform: uppercase;font-size: 1.5em;" ngClass="text-center vertical-align">ringkasan belanja sumber dana</th>
              </tr>
            </thead>
          </table>
        </div>
        <p-dataTable  [value]="listSd"
                      [rows]="10"
                      [paginator]="true"
                      [pageLinks]="3"
                      sortField="code"
                      rowGroupMode="subheader">
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="KODE" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="URAIAN" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="JUMLAH" [style]="{'font-weight': 'bold'}"></p-column>
                </p-row>
                <p-row>
                    <p-column header="1" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="2" [style]="{'font-weight': 'bold'}"></p-column>
                    <p-column header="3" [style]="{'font-weight': 'bold'}"></p-column>
                </p-row>
            </p-headerColumnGroup>
            <p-column field="code">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span [style.fontWeight]="data.code.length < 4 ? 'bold' : 'none'">{{data[col.field]}}</span>
              </ng-template>
            </p-column>
            <p-column field="name">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span [style.fontWeight]="data.code.length < 4 ? 'bold' : 'none'">{{data[col.field]}}</span>
              </ng-template>
            </p-column>
            <p-column field="total">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span [style.fontWeight]="data.code.length < 4 ? 'bold' : 'none'" style="float: right">{{data[col.field] | currencyRupiah}}</span>
              </ng-template>
            </p-column>
            <ng-template pTemplate="rowgroupfooter" let-data>
                <td colspan="2" style="text-align:right">Total Price</td>
                <td style="text-align:right">{{calculateTotal() | currencyRupiah}}</td>
            </ng-template>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

