<div class="row">
  <div class="col-md-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <p-dataTable [value]="listVisi"
              [rows]="10"
              [paginator]="true"
              [pageLinks]="3"
              dataKey="id">
              <p-column header="No" [style]="{'width': '5%'}">
                  <ng-template let-i="rowIndex" pTemplate="body">
                    {{i + 1}}
                  </ng-template>
                </p-column>
              <p-column field="description" header="Deskripsi"></p-column>
              <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
                  <ng-template pTemplate="header">
                    Pilih
                  </ng-template>
                  <ng-template let-data="rowData" pTemplate="body">
                    <p-button type="button" icon="fa fa-fw fa-edit" [disabled]="userInfo.isLocked === 'True'"
                      styleClass="ui-button-warning" (onClick)="btnEdit(data)"></p-button>
                    <p-button type="button" icon="fa fa-fw fa-trash" styleClass="ui-button-danger" [disabled]="userInfo.isLocked === 'True'"
                      (onClick)="btnDelete(data)"></p-button>
                  </ng-template>
                </p-column>
          </p-dataTable>
        </div>
      </div>
      <div class="box-footer">
        <p-button type="button" [disabled]="userInfo.isLocked === 'True'" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary"
                  (onClick)="btnAdd()"></p-button>
      </div>
    </div>
  </div>
</div>
