<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <div [hidden]="!userInfo.IsAdmin">
          <p-fieldset legend="Filter" [toggleable]="true">
            <div class="row">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Sekolah</label>
                    <div class="col-sm-10">
                      <p-dropdown [options]="optUnit"
                                  [filter]="true"
                                  formControlName="unitId"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal</label>
                    <div class="col-sm-10">
                        <p-calendar formControlName="tglSah" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy" yearRange="2000:2030"></p-calendar>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </p-fieldset>
        </div>
        <p-fieldset legend="Lembar Pengesahan & Asistensi" [toggleable]="true">
          <div class="row">
            <p-dataTable [value]="datas"
                [rows]="10"
                [paginator]="true"
                [pageLinks]="3"
                dataKey="id">
                <p-column header="No" [style]="{'width': '5%'}">
                    <ng-template let-i="rowIndex" pTemplate="body">
                      {{i + 1}}
                    </ng-template>
                  </p-column>
                <p-column field="desc" header="Nama Laporan"></p-column>
                <p-column styleClass="col-button" [style]="{'width':'150px'}">
                    <ng-template pTemplate="header">
                      Pilih
                    </ng-template>
                    <ng-template let-data="rowData" pTemplate="body">
                      <div ngClass="areaBtnCetak">
                          <p-splitButton label="Cetak"
                              icon="fa fa-print"
                              (onDropdownClick)="setLembarType(data.lembarType)"
                              [model]="itemPrints"
                              [menuStyle]="{'width':'8em'}"
                              styleClass="ui-button-success"></p-splitButton>
                        </div>
                    </ng-template>
                  </p-column>
            </p-dataTable>
          </div>
        </p-fieldset>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>
