<ng-progress  [speed]="1500" [ease]="'linear'" [meteor]="true"
              [spinner]="true" [spinnerPosition]="'right'" [direction]="'rightToLeftIncreased'"
              [color]="'red'" [trickleSpeed]="1500" [thick]="false"
></ng-progress>
<router-outlet>
  <span *ngIf="loaders" class="loading"></span>
</router-outlet>
