<p-dialog header="Ubah Data" [(visible)]="showThis" width="550" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-header text-center">
          <h4>{{titleForm}}</h4>
        </div>
        <div class="box-body pad table-responsive">
          <div [formGroup]="formEdit">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label>Unit</label>
                <input type="text" pInputText class="form-control" formControlName="unitName" readonly />
              </div>
              <div class="form-group">
                <label>Jumlah Siswa</label>
                <input type="text" pInputText class="form-control" pKeyFilter="num" formControlName="studentNumber"/>
              </div>
              <div class="form-group">
                <label>Jumlah Rombel</label>
                <input type="text" pInputText class="form-control" pKeyFilter="num" formControlName="rombel"/>
              </div>
              <div class="form-group">
                <label>Tambahan</label>
                <input type="text" pInputText class="form-control" formControlName="extraPrice"/>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="btnUpdate()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="btnCancel()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
