<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  <strong>Copyright &copy; 2017 DISDIKPORA KABUPATEN PENAJAM PASER UTARA.</strong> All rights
  reserved.
</footer>
