<p-dialog header="Tambah Unit" [(visible)]="showThis" width="900" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <form [formGroup]="formAdd">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label>Jenis Anggaran</label>
                <p-dropdown [options]="optJenisAnggaran"
                  formControlName="budgetType"
                  [style]="{'width':'100%'}">
                </p-dropdown>
              </div>
              <div class="form-group">
                <label>Kode</label>
                <input type="text" pInputText class="form-control" formControlName="code">
              </div>
              <div class="form-group">
                <label>Nama</label>
                <input type="text" pInputText class="form-control" formControlName="name">
              </div>
              <div class="form-group">
                <label>Pendidikan</label>
                <p-dropdown [options]="optPendidikan"
                  formControlName="educationLvl"
                  [style]="{'width':'100%'}">
                </p-dropdown>
              </div>
              <div class="form-group">
                <label>Kecamatan</label>
                <p-dropdown [options]="optDistrict"
                  formControlName="districtId"
                  [style]="{'width':'100%'}">
                </p-dropdown>
              </div>
              <div class="form-group">
                <label>NPSN</label>
                <input type="text" pInputText class="form-control" formControlName="npsn">
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="Simpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="Batal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
