<div class="row">
  <div class="col-md-12">
    <p-fieldset legend="RKAS" [toggleable]="true">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-body pad table-responsive">
            <p-dataTable [value]="listRkas"
                         [(selection)]="rkasSelected"
                         sortField="chartOfAccountCode"
                         rowGroupMode="subheader"
                         [tableStyle]="{'table-layout':'auto'}"
                         groupField="chartOfAccountCode"
                         expandableRowGroups="true"
                         [sortableRowGroup]="false"
                         [headerCheckboxToggleAllPages]="true">
              <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
              <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['chartOfAccountCode'] + ' ' + rowData['chartOfAccountName']}}</ng-template>
              <p-column field="code" header="Kode"></p-column>
              <p-column field="description" header="Uraian"></p-column>
              <p-column field="amount" header="Vol"></p-column>
              <p-column header="Satuan" styleClass="col-button text-center">
                <ng-template let-data="rowData" pTemplate="body">
                  {{castSatuanUnit(data['unitDesc'])}}
                </ng-template>
              </p-column>
              <p-column field="costPerUnit" header="Tarif"></p-column>
              <p-column field="total" header="Jumlah">
                <ng-template let-col let-data="rowData" pTemplate="body">
                  <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
                </ng-template>
              </p-column>
              <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
                <ng-template pTemplate="header">
                  Edit
                </ng-template>
                <ng-template let-data="rowData" pTemplate="body">
                  <p-button *ngIf="data.type === 2" [disabled]="userInfo.isLocked === 'True'" type="button" icon="fa fa-fw fa-edit" label="Edit" styleClass="ui-button-warning" (onClick)="btnEdit(data)"></p-button>
                </ng-template>
              </p-column>
              <ng-template pTemplate="rowgroupfooter" let-data>
                <td colspan="6" style="text-align:right">Total</td>
                <td style="text-align:right">{{calculateTotal(data['chartOfAccountCode'], data['chartOfAccountId']) | currencyRupiah}}</td>
                <td></td>
              </ng-template>
            </p-dataTable>
          </div>
        </div>
        <div class="box-footer">
          <p-button type="button" [disabled]="userInfo.isLocked === 'True'" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnAdd()"></p-button>
          <p-button type="button" [disabled]="userInfo.isLocked === 'True'" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
<app-add-rincian-btl></app-add-rincian-btl>
<app-edit-rincian-btl></app-edit-rincian-btl>
