<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-table [value]="listIndikatorKinerja">
          <ng-template pTemplate="header">
            <tr>
              <th>Indikator</th>
              <th>Tolok Ukur Kinerja</th>
              <th>Target Kinerja</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{convertIndikator(data.perfBenchmarkType)}}</td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="text" [(ngModel)]="data.name">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{data.name}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="text" [(ngModel)]="data.target">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{data.target}}
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="box-footer">
        <p-button icon="fa fa-fw fa-save" label="Simpan" (onClick)="onSave()"></p-button>
      </div>
    </div>
  </div>
</div>
