<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <p-fieldset legend="Filter" [toggleable]="true" *ngIf="userInfo.IsAdmin">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group" *ngIf="userInfo.IsAdmin">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-9">
                      <p-dropdown [options]="optSekolah"
                                  [filter]="true"
                                  required
                                  formControlName="sekolah"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                    <div class="col-sm-2">
                      <p-button type="button" icon="fa fa-search" label="Lihat Data" styleClass="ui-button-primary" (onClick)="onChangeUnit()"></p-button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 2rem">
            <div ngClass="areaBtnCetak">
              <p-splitButton label="Cetak"
                  icon="fa fa-print"
                  [model]="itemPrints"
                  [menuStyle]="{'width':'8em'}"
                  styleClass="ui-button-success"></p-splitButton>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th rowspan="2" ngClass="logoArea vertical-align"><img src="assets/images/ppu.png" class="img img-responsive"></th>
                </tr>
                <tr>
                  <th style="text-transform: uppercase;" ngClass="text-center vertical-align">
                    Pemerintah Kabupaten Penajam Paser <br>
                    Rincian Anggaran Pendapatan dan Belanja Sekolah <br>
                    <span *ngIf="unitSelected"> {{unitSelected.name}} <br></span>
                    Tahun Anggaran 2018 <br>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p-dataTable
                [value]="listRincian"
                [rows]="10"
                [paginator]="true"
                [style]="{'font-size':'12px'}"
                [pageLinks]="3">
                <p-headerColumnGroup>
                  <p-row>
                    <p-column header="Kode Rekening" rowspan="3"></p-column>
                    <p-column header="Uraian" rowspan="3"></p-column>
                    <p-column header="Volume" rowspan="3"></p-column>
                    <p-column header="Satuan" rowspan="3"></p-column>
                    <p-column header="Harga Satuan" rowspan="3"></p-column>
                    <p-column header="Total" rowspan="3"></p-column>
                    <p-column header="Sumber Dana" colspan="8"></p-column>
                    <p-column header="Ket" rowspan="3"></p-column>
                  </p-row>
                  <p-row>
                    <p-column header="Bantuan / Subsidi" colspan="5"></p-column>
                    <p-column header="Dana Komite" colspan="3"></p-column>
                  </p-row>
                  <p-row>
                    <p-column header="BOS Pusat"></p-column>
                    <p-column header="BOSDA"></p-column>
                    <p-column header="APBD Prov"></p-column>
                    <p-column header="APBN Pusat"></p-column>
                    <p-column header="Subsidi Sekolah Kecil"></p-column>
                    <p-column header="Iuran Sukarela"></p-column>
                    <p-column header="Sumbangan Sukarela"></p-column>
                    <p-column header="uang Lainnya"></p-column>
                  </p-row>
                </p-headerColumnGroup>
                <p-column field="coaCode" [style]="{'text-align': 'left'}">
                  <ng-template let-data="rowData" pTemplate="body">
                    <span [style.fontWeight]="data.type < 2 ? 'bold' : 'none'">{{ data.type === 0 ? data.coaCode : '' }}</span>
                  </ng-template>
                </p-column>
                <p-column field="description" [style]="{'text-align': 'left'}">
                  <ng-template let-data="rowData" pTemplate="body">
                      <span [style.fontWeight]="data.type < 2 ? 'bold' : 'none'">{{ data.description }}</span>
                  </ng-template>
                </p-column>
                <p-column field="amount" [style]="{'text-align': 'center'}">
                  <ng-template let-data="rowData" pTemplate="body">
                    <span>{{ data.amount !== 0 ? data.amount : '' }}</span>
                  </ng-template>
                </p-column>
                <p-column field="unitDesc" [style]="{'text-align': 'center'}"></p-column>
                <p-column field="costPerUnit">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="total">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span [style.fontWeight]="data.type < 2 ? 'bold' : 'none'" style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="bosPusat">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span [style.fontWeight]="data.type < 2 ? 'bold' : 'none'" style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="bosda">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <span [style.fontWeight]="data.type < 2 ? 'bold' : 'none'" style="float: right" *ngIf="data[col.field] !== 0">{{data[col.field]| currencyRupiah}}</span>
                  </ng-template>
                </p-column>
                <p-column field="xx"></p-column>
                <p-column field="xx"></p-column>
                <p-column field="xx"></p-column>
                <p-column field="xx"></p-column>
                <p-column field="xx"></p-column>
                <p-column field="xx"></p-column>
                <p-column field="xx"></p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

