<div class="box box-primary">
  <div class="box-header text-right">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Pencarian">
  </div>
  <div class="box-body pad table-responsive">
    <p-dataTable [value]="listUnitActivity"
                 [(selection)]="UnitActivitySelected"
                 dataKey="id"
                 [paginator]="true"
                 [rows]="10"
                 [globalFilter]="gb"
                 [headerCheckboxToggleAllPages]="true">
      <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
      <p-column [style]="{'width':'50%'}" field="activityName" header="Kegiatan"></p-column>
      <p-column field="total" header="Jumlah">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
        <ng-template pTemplate="header">
          Edit
        </ng-template>
        <ng-template let-dataheader="rowData" pTemplate="body">
          <p-button type="button" icon="fa fa-fw fa-edit" label="Edit" styleClass="ui-button-warning" (onClick)="formEdit(dataheader)"></p-button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <div class="box-footer">
    <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="btnAdd()"></p-button>
    <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="btnDelete()"></p-button>
  </div>
</div>
<app-lookup-activity></app-lookup-activity>
<app-edit-unit-activity></app-edit-unit-activity>
