<p-dialog header="Tambah Rincian Belanja" [(visible)]="showThis" width="900" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <form [formGroup]="formAdd">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <input type="text" [style.display]="'none'">
              </div>
              <div class="form-group">
                <label>Rekening</label>
                <br>
                <p-autoComplete
                  [style]="{'width':'100%'}"
                  [inputStyle]="{'width':'100%'}"
                  [suggestions]="coaFiltered"
                  [(ngModel)]="coaList"
                  [size]="30"
                  [minLength]="1"
                  field="code"
                  [ngModelOptions]="{standalone: true}"
                  (onSelect)="onSelectCoa($event)"
                  (completeMethod)="searchCoa($event)">
                  <ng-template let-coa pTemplate="item">
                    {{coa.code + coa.name}}
                  </ng-template>
                </p-autoComplete>
              </div>
              <div class="form-group">
                <p-dropdown [options]="optHeader"
                            formControlName="headerId"
                            (onChange)="onChangeHeader()"
                            [style]="{'width':'94%'}">

                </p-dropdown>
                <button class="btn btn-primary" (click)="showFormHeader(1)"><i class="fa fa-plus"></i></button>
              </div>
              <div class="form-group">
                <label>Sub Header</label>
                <p-dropdown [options]="optSubHeader"
                            formControlName="subHeaderId"
                            [style]="{'width':'94%'}">

                </p-dropdown>
                <button class="btn btn-primary" (click)="showFormHeader(2)"><i class="fa fa-plus"></i></button>
              </div>
              <!-- <div class="form-group">
                <label>Sumber Dana</label>
                <p-dropdown [options]="optSumberDana"
                            formControlName="budgetSourceId"
                            [style]="{'width':'100%'}">

                </p-dropdown>
              </div> -->
              <div class="form-group">
                <label>Uraian</label>
                <textarea rows="3" pInputTextarea class="form-control" formControlName="description"></textarea>
              </div>
              <div class="form-group">
                <div class="col-lg-12" style="padding: 0px">
                  <label>Ekspresi</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="text" pInputText style="width: 100%" formControlName="expres1">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #unitDecs
                              formControlName="expres2"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 3%">
                  <label>x</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="text" pInputText style="width: 100%" formControlName="expres3">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #unitDecs
                              formControlName="expres4"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 3%">
                  <label>x</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="text" pInputText style="width: 100%" formControlName="expres5">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #unitDecs
                              formControlName="expres6"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group">
                <label>Satuan</label>
                <p-dropdown [options]="optUnitDesc"
                  formControlName="unitDesc"
                  [style]="{'width':'100%'}">
                </p-dropdown>
              </div>
              <div class="form-group">
                <label>Tarif</label>
                <input type="text" pInputText class="form-control" formControlName="costPerUnit">
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="Simpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="Batal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog header="Tambah Header" [(visible)]="showThisHeader" width="800" (onHide)="onHideAddHeader()">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-header text-center">
        </div>
        <div class="box-body pad table-responsive">
          <form [formGroup]="formAddHeader">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group hidden">
                <label>Kode</label>
                <input type="text" pInputText class="form-control" formControlName="code">
              </div>
              <div class="form-group">
                <label>Deskripsi</label>
                <input type="text" pInputText class="form-control" formControlName="description">
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="SimpanHeader()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="BatalHeader()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
