<div class="row" @animationPage>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <label>Berita</label>
      </div>
      <div class="box-body pad">
        <ul class="timeline" *ngFor="let berita of initialListBerita">
          <li class="time-label">
            <span class="bg-aqua">
              {{ berita.dateCreate | date: 'dd-MM-yyyy' }}
            </span>
          </li>
          <li>
            <i class="fa fa-comments" [ngClass]="berita.type === 1 ? 'bg-green' : 'bg-red'"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{ berita.dateCreate | date: 'hh:mm:ss' }}</span>
              <h3 class="timeline-header"><span [ngClass]="berita.type === 1 ? 'text-success' : 'text-danger'">{{ berita.title }}</span></h3>
              <div class="timeline-body">
                {{ berita.description | slice: 0 : 100 }}...
              </div>
              <div class="timeline-footer">
                <button class="btn btn-default btn-flat btn-xs" (click)="detilBerita(berita)"><i class="fa fa-eye"></i> &nbsp;Lihat</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="box-footer">
        <button class="btn btn-default btn-flat btn-xs" (click)="showListBerita()"><i class="fa fa-eye"></i> &nbsp;Lihat Daftar Berita</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <app-rasio-anggaran></app-rasio-anggaran>
  </div>
</div>
<app-list-berita></app-list-berita>
<app-detil-berita></app-detil-berita>
