<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <app-list-sumber-dana></app-list-sumber-dana>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>
