<header class="main-header">
  <!-- Logo -->
  <a routerLink="./" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>PPU</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>APBS</b> - Online</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <label ngClass="titleUnit">{{userInfo.unitName}}</label>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
         <!--User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/lte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ userInfo.given_name }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                {{ userInfo.given_name }}
                <!--<small>Member since Nov. 2012</small>-->
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <!--<div class="row">-->
                <!--<div class="col-xs-4 text-center">-->
                  <!--<a href="#">Followers</a>-->
                <!--</div>-->
                <!--<div class="col-xs-4 text-center">-->
                  <!--<a href="#">Sales</a>-->
                <!--</div>-->
                <!--<div class="col-xs-4 text-center">-->
                  <!--<a href="#">Friends</a>-->
                <!--</div>-->
              <!--</div>-->
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left" [hidden]="userInfo.IsAdmin">
                <button class="btn btn-default btn-flat" (click)="showChangePass()">Ganti Password</button>
              </div>
              <div class="pull-right">
                <a routerLink="/login" class="btn btn-default btn-flat">Keluar</a>
              </div>
            </li>
          </ul>
        </li>
         <!--Control Sidebar Toggle Button-->
        <!--<li>-->
          <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
        <!--</li>-->
      </ul>
    </div>
  </nav>
</header>
<app-change-pass-user></app-change-pass-user>
