<p-dialog header="Edit Rincian Belanja" [(visible)]="showThis" width="900" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <form [formGroup]="formEdit">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <!-- <div class="form-group">
                <label>Sumber Dana</label>
                <p-dropdown [options]="optSumberDana"
                            formControlName="budgetSourceId"
                            [style]="{'width':'100%'}">

                </p-dropdown>
              </div> -->
              <div class="form-group">
                <label>Uraian</label>
                <textarea rows="3" pInputTextarea class="form-control" formControlName="description"></textarea>
              </div>
              <div class="form-group">
                <div class="col-lg-12" style="padding: 0px">
                  <label>Ekspresi</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="text" pInputText style="width: 100%" formControlName="expres1">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #unitDecs
                              formControlName="expres2"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 3%">
                  <label>x</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="text" pInputText style="width: 100%" formControlName="expres3">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #unitDecs
                              formControlName="expres4"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 3%">
                  <label>x</label>
                </div>
                <div class="col-lg-2" style="padding-left: 0px">
                  <input type="text" pInputText style="width: 100%" formControlName="expres5">
                </div>
                <div class="col-lg-1" style="padding-left: 0px; width: 14%">
                  <p-dropdown [options]="optUnitDesc"
                              #unitDecs
                              formControlName="expres6"
                              [style]="{'width':'100%'}">
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group">
                <label>Satuan</label>
                <p-dropdown [options]="optUnitDesc"
                  formControlName="unitDesc"
                  [style]="{'width':'100%'}">
                </p-dropdown>
              </div>
              <div class="form-group">
                <label>Tarif</label>
                <input type="text" pInputText class="form-control" formControlName="costPerUnit">
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="btnSimpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="btnBatal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
