<div class="row" @animationPage>
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <p-fieldset legend="Filter" [toggleable]="true">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal" [formGroup]="formFilter">
                  <div class="box-body">
                    <div class="form-group">
                      <label class="col-sm-1 control-label">Urusan</label>
                      <div class="col-sm-11">
                        <p-dropdown [options]="optUrusan"
                                    #sekolah
                                    [filter]="true"
                                    (onChange)="onChangeUrusan()"
                                    formControlName="units"
                                    [style]="{'width':'100%'}">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-fieldset>
          <app-program></app-program>
          <app-kegiatan></app-kegiatan>
        <div class="box-footer">
  
        </div>
      </div>
    </div>
  </div>  