<p-fieldset legend="Mapping Header Rek. BOSDA {{bosdaSelected.code}} {{bosdaSelected.name}}" [toggleable]="true" *ngIf="bosdaSelected.id">
  <div class="box box-primary">
    <div class="box-header">
      <div class="col-lg-6 col-md-6 text-left">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Pencarian">
      </div>
    </div>
    <div class="box-body pad table-responsive">
      <p-dataTable [value]="listBosdaCoaHeader"
        [(selection)]="bosdaCoaHeaderSelected"
        dataKey="id"
        [paginator]="true"
        [rows]="10"
        [globalFilter]="gb"
        [headerCheckboxToggleAllPages]="true">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="code" header="Kode"></p-column>
        <p-column field="name" header="Uraian"></p-column>
        <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
          <ng-template pTemplate="header">
            Edit
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
              <button class="btn btn-warning btn-sm" (click)="formEdit(data)"><i class="fa fa-edit"></i></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="box-footer">
        <p-button type="button" icon="fa fa-fw fa-plus" label="Tambah" styleClass="ui-button-primary" (onClick)="showAddEdit(1)"></p-button>
        <p-button type="button" icon="fa fa-fw fa-trash" label="Hapus" styleClass="ui-button-danger" (onClick)="Delete()"></p-button>
    </div>
  </div>
</p-fieldset>
<app-add-mapping-header></app-add-mapping-header>
