<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-fieldset legend="Filter" [toggleable]="true"
                    *ngIf="userInfo.IsAdmin && unitStructure == 4 && (userInfo.unitId == 0 || userInfo.unitId == null)">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-11">
                      <p-dropdown [options]="optSekolah"
                                  #sekolah
                                  [filter]="true"
                                  formControlName="sekolah"
                                  (onChange)="onChangeUnit()"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Daftar Pegawai" [toggleable]="true">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <app-jabatan></app-jabatan>
            </div>
            <div class="col-lg-9 col-md-9">
              <app-list-pegawai></app-list-pegawai>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>

