<p-dialog header="Ubah Keadaan Guru / Pegawai" [(visible)]="showThis" width="500" (onHide)="onHide()" [modal]="true">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <div class="row">
            <form [formGroup]="formEdit">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="col-lg-12" style="padding: 0px">
                    <label>Jenis</label>
                  </div>
                  <div class="col-lg-12" style="padding-left: 0px">
                    <p-dropdown
                      [options]="optJenisEmployee"
                      formControlName="employeeDataType"
                      [style]="{'width':'100%'}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p-fieldset legend="Jumlah Pegawai" [toggleable]="true">
                  <div class="form-group">
                    <label>Laki - laki</label>
                    <input type="number" pInputText class="form-control" formControlName="male">
                  </div>
                  <div class="form-group">
                    <label>Perempuan</label>
                    <input type="number" pInputText class="form-control" formControlName="female">
                  </div>
                </p-fieldset>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="col-lg-12" style="padding: 0px">
                    <label>Status</label>
                  </div>
                  <div class="col-lg-12" style="padding-left: 0px">
                      <p-radioButton name="formAdd" value="1" label="Aktif" formControlName="status"></p-radioButton>
                      <p-radioButton name="formAdd" value="0" label="Non Aktif" formControlName="status"></p-radioButton>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="box-footer text-center">
          <p-button type="button" icon="fa fa-fw fa-save" label="Simpan" styleClass="ui-button-primary" (onClick)="Simpan()"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="Batal" styleClass="ui-button-danger" (onClick)="Batal()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
