<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="box box-primary">
      <div class="box-header">
        <div class="row">
          <div class="col-lg-12 col-md-12 text-right">
            <button class="btn btn-primary" (click)="addBerita()"><i class="fa fa-plus"></i> Tambah</button>
          </div>
        </div>
      </div>
      <div class="box-body pad table-responsive">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p-dataTable [value]="listBerita">
              <p-column header="No" [style]="{'width': '5%'}">
                <ng-template let-i="rowIndex" pTemplate="body">
                  {{i + 1}}
                </ng-template>
              </p-column>
              <p-column field="title" header="Judul"></p-column>
              <p-column header="Tipe">
                <ng-template let-data="rowData" pTemplate="body">
                  <div [ngSwitch]="data['type']">
                    <span *ngSwitchCase='1' [ngClass]="'label-success'">Pengumuman</span>
                    <span *ngSwitchCase='2' [ngClass]="'label-warning'">Peringatan</span>
                  </div>
                </ng-template>
              </p-column>
              <p-column field="description" header="Deskirpsi"></p-column>
              <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
                <ng-template pTemplate="header">
                  Pilihan
                </ng-template>
                <ng-template let-data="rowData" pTemplate="body">
                  <button class="btn btn-warning btn-sm" (click)="editBerita(data)"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger btn-sm" (click)="hapusBerita(data)"><i class="fa fa-trash"></i></button>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-berita></app-add-berita>
<app-edit-berita></app-edit-berita>
