<div class="row" @animationPage>
  <div class="col-lg-12 div-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-fieldset legend="Filter" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-horizontal" [formGroup]="formFilter">
                <div class="box-body">
                  <div class="form-group" *ngIf="userInfo.IsAdmin">
                    <label class="col-sm-1 control-label">Sekolah</label>
                    <div class="col-sm-11">
                      <p-dropdown [options]="optSekolah"
                                  #sekolah
                                  [filter]="true"
                                  formControlName="sekolah"
                                  (onChange)="onChangeUnit()"
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="" [toggleable]="true">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-dataTable [value]="valueDefault" [editable]="userInfo.IsAdmin || userInfo.unitId != '0'">
                <p-column field="uraian" header="Uraian" [editable]="false"></p-column>
                <p-column field="total" header="Jumlah" [editable]="userInfo.IsAdmin || userInfo.unitId != '0'"></p-column>
              </p-dataTable>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="box-footer">
        <p-button type="button" *ngIf="userInfo.IsAdmin || userInfo.unitId != '0'" icon="fa fa-fw fa-plus" label="Simpan" styleClass="ui-button-primary" (onClick)="btnUpdate()"></p-button>
    </div>
  </div>
</div>
