<div class="row" @animationPage>
  <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <div class="col-lg-6 col-md-6 text-left">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #gb type="text" pInputText size="50" placeholder="Pencarian">
            </div>
            <div class="col-lg-6 col-md-6 text-right">
              <button class="btn btn-primary" (click)="showAdd()"><i class="fa fa-plus"></i>Tambah</button>
            </div>
          </div>
      <div class="box-body pad table-responsive">
        <p-dataTable [value]="listWebOption"
                           [rows]="10"
                           [paginator]="true"
                           [globalFilter]="gb"
                           [pageLinks]="3">
                <p-column header="No" [style]="{'width': '5%'}">
                  <ng-template let-i="rowIndex" pTemplate="body">
                    {{i + 1}}
                  </ng-template>
                </p-column>
                <p-column field="name" header="Nama"></p-column>
                <p-column field="value" header="Value"></p-column>
                <p-column field="description" header="Deskripsi"></p-column>
                <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
                  <ng-template pTemplate="header">
                    Pilihan
                  </ng-template>
                  <ng-template let-data="rowData" pTemplate="body">
                    <button class="btn btn-warning btn-sm" (click)="showEdit(data)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="btnDelete(data)"><i class="fa fa-trash"></i></button>
                  </ng-template>
                </p-column>
              </p-dataTable>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
<app-add-option></app-add-option>
<app-edit-option></app-edit-option>

