<div class="row" @animationPage>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-body">
          <p-fieldset legend="Filter" [toggleable]="true" *ngIf="userInfo.IsAdmin">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal" [formGroup]="formFilter">
                  <div class="box-body">
                    <div class="form-group" *ngIf="userInfo.IsAdmin">
                      <label class="col-sm-1 control-label">Sekolah</label>
                      <div class="col-sm-9">
                        <p-dropdown [options]="optSekolah"
                                    [filter]="true"
                                    required
                                    formControlName="sekolah"
                                    [style]="{'width':'100%'}">
                        </p-dropdown>
                      </div>
                      <div class="col-sm-2">
                        <p-button type="button" icon="fa fa-search" label="Lihat Data" styleClass="ui-button-primary" (onClick)="onChangeUnit()"></p-button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-fieldset>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 2rem">
              <div ngClass="areaBtnCetak">
                <p-splitButton label="Cetak"
                    icon="fa fa-print"
                    [model]="itemPrints"
                    [menuStyle]="{'width':'8em'}"
                    styleClass="ui-button-success"></p-splitButton>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <table class="table table-responsive table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2" ngClass="logoArea vertical-align"><img src="assets/images/ppu.png" class="img img-responsive"></th>
                  </tr>
                  <tr>
                    <th style="text-transform: uppercase;" ngClass="text-center vertical-align">
                      Anggaran Penerimaan dan Belanja Sekolah <br>
                      Tahun Anggaran {{ firstRincian.CurThn }} <br>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-responsive" [style.fontWeight]="'bold'">
                  <tbody>
                    <tr>
                      <td [style.width.px]="'150'">Nama Sekolah</td>
                      <td [style.width.px]="'5'">:</td>
                      <td>{{ firstRincian.NmSekolah }}</td>
                    </tr>
                    <!-- <tr>
                      <td [style.width.px]="'150'">Alamat Sekolah</td>
                      <td [style.width.px]="'5'">:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td [style.width.px]="'150'">Desa / Kelurahan</td>
                      <td [style.width.px]="'5'">:</td>
                      <td></td>
                    </tr> -->
                    <tr>
                      <td [style.width.px]="'150'">Kecamatan</td>
                      <td [style.width.px]="'5'">:</td>
                      <td [style.width.px]="'400'">{{ firstRincian.Kec }}</td>
                      <td [style.width.px]="'150'">Jumlah Siswa</td>
                      <td [style.width.px]="'5'">:</td>
                      <td>{{ firstRincian.JmlSiswa }}</td>
                    </tr>
                    <tr>
                      <td [style.width.px]="'150'">Kabupaten</td>
                      <td [style.width.px]="'5'">:</td>
                      <td [style.width.px]="'400'">{{ firstRincian.Kab }}</td>
                      <td [style.width.px]="'150'">Jumlah Rombel</td>
                      <td [style.width.px]="'5'">:</td>
                      <td>{{ firstRincian.JmlRombel }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <p-table [value]="listRingkasan" [customSort]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th ngClass="text-center vertical-align">Kode</th>
                    <th ngClass="text-center vertical-align">Uraian</th>
                    <th ngClass="text-center vertical-align">Jumlah (Rp)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-list>
                  <tr>
                    <td [style.fontWeight]="list.LevelTypes == 1 ? 'bold' : 'none'">
                        <span *ngIf="!list.Code.includes('A')">{{ list.Code}}</span></td>
                    <td [style.fontWeight]="list.LevelTypes == 1 ? 'bold' : 'none'"
                        [style.text-transform]="list.Code.includes('A') ? 'uppercase' : ''"
                        [style.text-align]="list.Code.includes('A') ? 'right' : ''">
                        {{ list.Name }}</td>
                    <td [style.fontWeight]="list.LevelTypes == 1 ? 'bold' : 'none'"
                        [style.text-align]="'right'"><span *ngIf="list.Total">{{ list.Total | currencyRupiah}}</span></td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="2" style="text-align: center; font-weight: bold">SISA LEBIH PENGGUNAAN ANGGARAN</td>
                    <td style="text-align: right">
                      <b>{{(firstRincian.Total ? firstRincian.TotPenerimaan - firstRincian.TotPengeluaran : 0) | currencyRupiah}}</b>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

