<p-dialog header="Daftar Berita" [(visible)]="showThis" width="800" (onHide)="onHide()" [modal]="true">
  <div class="row" @animationPage>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body pad table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-dataTable [value]="listBerita" [paginator]="true" [rows]="10">
                <p-column header="No" [style]="{'width': '5%'}">
                  <ng-template let-i="rowIndex" pTemplate="body">
                    {{i + 1}}
                  </ng-template>
                </p-column>
                <p-column field="title" header="Judul"></p-column>
                <p-column header="Tipe">
                  <ng-template let-data="rowData" pTemplate="body">
                    <div [ngSwitch]="data['type']">
                      <span *ngSwitchCase='1' [ngClass]="'label-success'">Pengumuman</span>
                      <span *ngSwitchCase='2' [ngClass]="'label-warning'">Peringatan</span>
                    </div>
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'15%'}" styleClass="col-button text-center">
                  <ng-template pTemplate="header">
                    Pilihan
                  </ng-template>
                  <ng-template let-data="rowData" pTemplate="body">
                    <button class="btn btn-default btn-sm" (click)="detilBerita(data)"><i class="fa fa-eye"></i></button>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
