<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        Tes Table
      </div>
      <div class="box-body pad table-responsive">
        <p-dataTable [value]="dataEmbem">
          <p-column field="vin" header="Vin"></p-column>
          <p-column field="year" header="Year"></p-column>
          <p-column field="brand" header="Brand"></p-column>
          <p-column field="color" header="Color"></p-column>
        </p-dataTable>
      </div>
      <div class="box-footer">
        <input type="text" pInputText placeholder="Username">
      </div>
    </div>
  </div>
</div>
