<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div ngClass="areaBtnCetak">
      <p-splitButton label="Cetak"
                     icon="fa fa-print"
                     [model]="itemPrints"
                     [menuStyle]="{'width':'8em'}"
                     styleClass="ui-button-success"></p-splitButton>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th rowspan="2" ngClass="logoArea vertical-align"><img src="assets/images/ppu.png" class="img img-responsive"></th>
          <th style="text-transform: uppercase;" ngClass="text-center vertical-align">Rencana Kerja Dan Anggaran Sekolah</th>
          <th rowspan="2" ngClass="text-center vertical-align">Formulir <br> RKA - Sekolah 2.2.1</th>
        </tr>
        <tr>
          <th style="text-transform: uppercase;" ngClass="text-center vertical-align">Pemerintah Kabupaten Penajam Paser Utara</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <tr>
              <td>Urusan Pemerintahan</td>
              <td style="padding: 0rem 2rem 0rem 4rem">:</td>
              <td>1.01. - PENDIDIKAN</td>
            </tr>
            <tr>
              <td>Organisasi</td>
              <td style="padding: 0rem 2rem 0rem 4rem">:</td>
              <td>1.01.01. - DINAS PENDIDIKAN, PEMUDA DAN OLAHRAGA </td>
            </tr>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <tr>
              <td>Unit</td>
              <td style="padding: 0rem 2rem 0rem 10rem">:</td>
              <td *ngIf="unitProgAct.Units">{{ unitProgAct.Units.code }} - {{ unitProgAct.Units.name }}</td>
            </tr>
            <tr>
              <td>Program</td>
              <td style="padding: 0rem 2rem 0rem 10rem">:</td>
              <td *ngIf="preProgram">{{ preProgram.code }} - {{ preProgram.name }}</td>
            </tr>
            <tr>
              <td>Kegiatan</td>
              <td style="padding: 0rem 2rem 0rem 10rem">:</td>
              <td *ngIf="preActivity">{{ preActivity.code }} - {{ preActivity.name }}</td>
            </tr>
          </td>
        </tr>
        <tr>
          <td colspan="3" ngClass="text-center vertical-align">
            <b>Indikator & Tolak Ukur Kinerja Belanja Langsung</b>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p-table [value]="listIndikatorKinerja">
              <ng-template pTemplate="header">
              <tr>
                <th>Indikator</th>
                <th>Tolok Ukur Kinerja</th>
                <th>Target Kinerja</th>
              </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>{{convertIndikator(data.perfBenchmarkType)}}</td>
                  <td>{{data.name}}</td>
                  <td *ngIf="data.perfBenchmarkType === 2;else nonVal">{{total | currencyRupiah | replaceDoller}}</td>
                  <ng-template #nonVal>
                    <td>{{data.target | replaceDoller}}</td>
                  </ng-template>
                </tr>
              </ng-template>
            </p-table>
          </td>
        </tr>
        <tr>
          <td colspan="3" ngClass="text-center vertical-align">
            <b>Rincian Anggaran Belanja Langsung Menurut Program dan per Sekolah</b>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p-table [value]="previews" [customSort]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2" ngClass="text-center vertical-align">Kode Rekening</th>
                  <th rowspan="2" ngClass="text-center vertical-align">Uraian</th>
                  <th colspan="3" ngClass="text-center vertical-align">Rincian Penghitungan</th>
                  <th rowspan="2" ngClass="text-center vertical-align">Jumlah</th>
                </tr>
                <tr>
                  <th ngClass="text-center vertical-align">Volume</th>
                  <th ngClass="text-center vertical-align">Satuan</th>
                  <th ngClass="text-center vertical-align">Harga</th>
                </tr>
                <tr>
                  <th ngClass="text-center vertical-align">1</th>
                  <th ngClass="text-center vertical-align">2</th>
                  <th ngClass="text-center vertical-align">3</th>
                  <th ngClass="text-center vertical-align">4</th>
                  <th ngClass="text-center vertical-align">5</th>
                  <th ngClass="text-center vertical-align">6</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-preview>
                <tr>
                  <td [style.fontWeight]="preview.type < 2 ? 'bold' : 'none'">{{ preview.type === 0 ? preview.coaCode : '' }}</td>
                  <td
                    [style.fontWeight]="preview.type < 2 ? 'bold' : 'none'"
                    [style.textIndent]="preview.type === 1 ? '3mm' : '0'"
                    [style.textIndent]="preview.type === 2 ? '5mm' : '0'"
                  >{{ preview.description }}</td>
                  <td  style="text-align: center" [style.fontWeight]="preview.type < 2 ? 'bold' : 'none'"><span *ngIf="preview.amount">{{ preview.expression }}</span></td>
                  <td [style.fontWeight]="preview.type < 2 ? 'bold' : 'none'">{{ preview.unitDesc }}</td>
                  <td [style.fontWeight]="preview.type < 2 ? 'bold' : 'none'" style="text-align: right"><span *ngIf="preview.amount">{{ preview.costPerUnit | currencyRupiah}}</span></td>
                  <td [style.fontWeight]="preview.type < 2 ? 'bold' : 'none'" style="text-align: right">{{ preview.total | currencyRupiah}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
              </ng-template>
            </p-table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
