<div class="row" @animationPage>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-dataTable [value]="listManualEntry"
                     sortField="category"
                     rowGroupMode="subheader"
                     [tableStyle]="{'table-layout':'auto'}"
                     groupField="category"
                     expandableRowGroups="true"
                     [sortableRowGroup]="false"
                     [lazy]="true"
                     [headerCheckboxToggleAllPages]="true">
          <ng-template pTemplate="rowgroupheader" let-rowData>
            {{rowData['category']}}
          </ng-template>
          <p-column field="coaApbsCode" header="Kode"></p-column>
          <p-column field="coaApbsName" header="Uraian"></p-column>
          <p-column field="total" header="Total" [style]="{'text-align' : 'right'}">
            <ng-template let-data="rowData" pTemplate="body">
              <span>{{data.total | currencyRupiah }}</span>
            </ng-template>
          </p-column>
          <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
            <ng-template pTemplate="header">
              Edit
            </ng-template>
            <ng-template let-data="rowData" pTemplate="body">
              <p-button type="button" icon="fa fa-fw fa-edit" label="Edit"
                [disabled]="userInfo.isLocked === 'True'"
                styleClass="ui-button-warning" (onClick)="btnEdit(data)"></p-button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
<app-edit-manual-entry></app-edit-manual-entry>
