<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body pad table-responsive">
        <p-dataTable [value]="listAnggaranKas"
                     [(selection)]="anggaranKasSelected"
                     sortField="chartOfAccountCode"
                     rowGroupMode="subheader"
                     [tableStyle]="{'table-layout':'auto'}"
                     groupField="chartOfAccountCode"
                     expandableRowGroups="true"
                     [sortableRowGroup]="false"
                     [headerCheckboxToggleAllPages]="true">
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['chartOfAccountCode'] + ' ' + rowData['chartOfAccountName']}}</ng-template>
          <p-column field="code" header="Kode"></p-column>
          <p-column field="description" header="Uraian"></p-column>
          <p-column field="total" header="Jumlah">
            <ng-template let-col let-data="rowData" pTemplate="body">
              <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
            </ng-template>
          </p-column>
          <p-column field="q1" header="TW I">
            <ng-template let-col let-data="rowData" pTemplate="body">
              <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
            </ng-template>
          </p-column>
          <p-column field="q2" header="TW II">
            <ng-template let-col let-data="rowData" pTemplate="body">
              <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
            </ng-template>
          </p-column>
          <p-column field="q3" header="TW III">
            <ng-template let-col let-data="rowData" pTemplate="body">
              <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
            </ng-template>
          </p-column>
          <p-column field="q4" header="TW IV">
            <ng-template let-col let-data="rowData" pTemplate="body">
              <span style="float: right">{{data[col.field]| currencyRupiah}}</span>
            </ng-template>
          </p-column>
          <p-column styleClass="col-button text-center" [style]="{'width':'95px'}">
            <ng-template pTemplate="header">
              Edit
            </ng-template>
            <ng-template let-data="rowData" pTemplate="body">
              <p-button *ngIf="data.type === 2" [disabled]="userInfo.isLocked === 'True'" type="button" icon="fa fa-fw fa-edit" label="Edit" styleClass="ui-button-warning" (onClick)="btnEdit(data)"></p-button>
            </ng-template>
          </p-column>
          <ng-template pTemplate="rowgroupfooter" let-data>
            <td colspan="3" style="text-align:right">Total</td>
            <td style="text-align:right">{{calculateTotal(data['chartOfAccountCode'], data['chartOfAccountId']) | currencyRupiah}}</td>
            <td style="text-align:right">{{calculateTotal('q1', data['chartOfAccountId']) | currencyRupiah}}</td>
            <td style="text-align:right">{{calculateTotal('q2', data['chartOfAccountId']) | currencyRupiah}}</td>
            <td style="text-align:right">{{calculateTotal('q3', data['chartOfAccountId']) | currencyRupiah}}</td>
            <td style="text-align:right">{{calculateTotal('q4', data['chartOfAccountId']) | currencyRupiah}}</td>
            <td></td>
          </ng-template>
        </p-dataTable>
      </div>
    </div>
    <div class="box-footer">
    </div>
  </div>
</div>
<app-bonas-anggaran-kas-edit></app-bonas-anggaran-kas-edit>
